/.OntolizerDescriptionLabelProvider.java._trace
/.OntolizerDescriptionLabelProvider.xtendbin
/.OntolizerLabelProvider.java._trace
/.OntolizerLabelProvider.xtendbin
/OntolizerDescriptionLabelProvider.java
/OntolizerLabelProvider.java
