/.OntolizerRuntimeModule.java._trace
/.OntolizerRuntimeModule.xtendbin
/.OntolizerStandaloneSetup.java._trace
/.OntolizerStandaloneSetup.xtendbin
/OntolizerRuntimeModule.java
/OntolizerStandaloneSetup.java
